<!DOCTYPE html>
{% extends 'base_page.html' %}
{% block scripts %}
function getregister(){
  var Name=document.getElementById("FirstName").value;
  var Email=document.getElementById("InputEmail").value;
  var password=document.getElementById("InputPassword").value;
  var repassword=document.getElementById("RepeatPassword").value;
  if ( Name == '' | Email == '' | password == '' ){
    var msg =  '<div id = \"displayalert\" class=\"alert alert-warning\" style=\" margin-top:15px;\" role=\"alert\">資料有空，請確認資料!!</div>'
    $('#alertmsg').html(msg);
    setTimeout(function(){
      $('#displayalert').remove()
    },5000);
  }else if (password != repassword){
    var msg =  '<div id = \"displayalert\" class=\"alert alert-warning\" style=\" margin-top:15px;\" role=\"alert\">密碼錯誤，請確認資料!!</div>'
    $('#alertmsg').html(msg);
    setTimeout(function(){
      $('#displayalert').remove()
    },5000);
    document.getElementById("InputPassword").value='';
    document.getElementById("RepeatPassword").value='';
  }else{
    $.ajax({
            url: '/ajax/sign_up/',
            type: 'GET',
            data: { Name:Name , Email: Email , password:password },
            dataType: 'json',
            success: function (result) {
              if(result.res == 0){
                document.getElementById("InputPassword").value='';
                document.getElementById("RepeatPassword").value='';
                $('#alertmsg').html(result.msg);
                setTimeout(function(){
                  $('#displayalert').remove()
                },5000);
              }else {
                var flag = 0
                window.location.href="/login_page/?valus="+flag;
                    }
            },
            cache: false
        });
      }
  }
{% endblock %}

{% block onload %}

{% endblock %}

{% block content %}
<div class="container">
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
            </div>
            <form class="user" >
              {% csrf_token %}
              <div class="form-group">
                  <input type="text" class="form-control form-control-user" id="FirstName" name='name' placeholder="User Name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control form-control-user" id="InputEmail" name='email' placeholder="Email Address">
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="password" class="form-control form-control-user" id="InputPassword" name='password' placeholder="Password">
                </div>
                <div class="col-sm-6">
                  <input type="password" class="form-control form-control-user" id="RepeatPassword" name='re_password' placeholder="Repeat Password">
                </div>
              </div>
              <input type='button' value='Register' class="btn btn-primary btn-user btn-block"  onclick="getregister()">
              </input>
              <hr>
            <div class="text-center">
              <a class="small" href="forgot-password.html">Forgot Password?</a>
            </div>
            <div class="text-center">
              <a class="small" href="/login_page/">Already have an account? Login!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
