{% extends 'base_page.html' %}
{% block scripts %}
function getbutton(){
  var text=document.getElementById("text").value;
  $.ajax({
          url: '/ajax/getbutton/',
          type: 'GET',
          data: { text: '' },
          dataType: 'json',
          success: function (result) {
            $('#alertmsg').html(result);
          },
          cache: false
      });
  }
function getproductprice(){
  $.ajax({
          url: '/ajax/getproductprice/',
          type: 'GET',
          data: { url: '' },
          dataType: 'json',
          success: function (result) {
            $('#tableprice').html(result);
          },
          cache: false
      });
  }
  function getdatabase(){
    $.ajax({
            url: '/ajax/getdatabase/',
            type: 'GET',
            data: { url: '' },
            dataType: 'json',
            success: function (result) {
              //alert("success");
              $('#testdb').html(result);
            },
            cache: false
        });
    }
  {% endblock %}

{% block content %}
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Blank Page</h1>
  <button class="btn btn-primary" onclick="getproductprice()">check</button>
</div>
<!-- /.container-fluid -->
<div class="container-fluid">
  <div class="card shadow mb-4">
    <div id="tableprice"></div>
  </div>
  <button class="btn btn-primary" onclick="getdatabase()">getdb</button>
  <div class="card shadow mb-4">
    <div id="testdb"></div>
  </div>
</div>

<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
  <div class="input-group">
    <input id="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit" onclick="getbutton()">
        <i class="fas fa-search fa-sm"></i>
      </button>
    </div>
  </div>
</form>

<button class="btn btn-primary" href="/getbutton/">getbutton</button>


{% endblock %}
